body{
    font-family: "Helvetica", "Lucida Grande", sans-serif;
    color: #3D3D3D;
    width: 940px;
    margin-right: auto;
    margin-left: auto;
}

h1{
    color: #3D3D3D;
    background-color: #E1EDF2;
    padding: 10px;
}

h2{
    border-bottom: 1px solid black;
}

figure{
    text-align: center;
    background-color: whitesmoke;
    border: 1px solid lightgrey;
    padding: 15px;
    margin: 10px;
}

figcaption{
    margin-top: 10px;
}

.matriz{
    width: 550px;
    margin-left: auto;
    margin-right: auto;
}

/*.matriz img{
    width: inherit;
}*/

.familia{
    width: 275px;
    float: right;
}

/*.familia img{
    width: inherit;
}*/

figure img{
    width: 100%;
}